input{
  height: 40px;
  width: 25%;
  border: 3px solid black;
  border-radius:20%;
  /* margin-left:-15%; */
  /* text-align: center; */

  
}
.emoji{

  /* position: relative;
  left: 1px; */
  text-align: left;
  padding: 10px;
}
body{
  background: linear-gradient(to right,pink,white);
}
.input{
  height: 40px;
  width: 25%;
  border:5px solid black;
  position: relative;
  left: 37%;
  margin-top: 10px;
  border-radius: 40%;

  
}
.searchbar{
  text-align: center;
}
